package components

templ Nav() {
	<nav>
		<a href="/" class="logo">BluForge</a>
		<ul class="nav-links">
			<li><a href="/">Dashboard</a></li>
			<li><a href="/activity">Activity</a></li>
			<li><a href="/settings">Settings</a></li>
		</ul>
	</nav>
}
